---
layout: default
---

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><a href="{{ site.url }}">Clustered Site</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li{% if page.url == "/" %} class="active"{% endif %}><a href="{{ site.url }}">Home</a></li>
              <li><a href="https://status.clustered.site/">Status</a></li>
            </ul>
          </nav>
        </div>
      </div>

      {{ content }}

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">Clustered Site</a>. All rights reserved.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ "js/bootstrap.min.js" | prepend: site.assets }}?r={{ revision }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ "js/ie10-viewport-bug-workaround.js" | prepend: site.assets }}?r={{ revision }}"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b0bdbb210b99c7b36d4600c/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
